<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<link rel="icon" href="http://www.ibm.com/favicon.ico">
	<link rel="canonical" href="http://www.ibm.com/______">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="dcterms.date" content="YYYY-MM-DD">
	<meta name="dcterms.rights" content="© Copyright IBM Corp. 2016">

	<meta name="geo.country" content="US">
	<meta name="keywords" content="______">
	<meta name="robots" content="index,follow">

	<title>{% i18n %}IBM Audits{% endi18n%}</title>

	<script type="text/javascript">
		digitalData = {
			page: {
				pageInfo: {
					language: "{{lang}}",
					version: "v18",
					ibm: {
						siteID: 'CBO-ASAT-EN'
					}
				},
				category: {
					primaryCategory: 'TEST'
				}
			}
		};
	</script>

	<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
	<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
	<link href="/results/css/style_v18.css" rel="stylesheet">
	<script src="//1.www.s81c.com/common/v18/js/www.js"></script>
	<script type="text/javascript">
		var $ = jQuery;
	</script>
</head>

<body id="ibm-com">

	<div id="ibm-top" class="ibm-landing-page">
		<!-- MASTHEAD_BEGIN -->
		<div id="ibm-masthead" role="banner" aria-label="IBM">
			<div id="ibm-universal-nav">
				<div id="ibm-home">
					<a href="http://www.ibm.com/us/en/">IBM®</a>
				</div>
				<ul id="ibm-menu-links" role="toolbar" aria-label="{% i18n %}Site map{% endi18n%}">
					<li>
						<a href="http://www.ibm.com/sitemap/us/en/">{% i18n %}Site map{% endi18n%}</a>
					</li>
				</ul>
				<div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
					<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
						<p>
							<input type="text" maxlength="100" value="" placeholder="{% i18n %}Search{% endi18n%}" name="q" id="q" aria-label="{% i18n %}Search{% endi18n%}"/>
							<input type="hidden" value="18" name="v"/>
							<input type="hidden" value="utf" name="en"/>
							<input type="hidden" value="{{lang}}" name="lang"/>
							<input type="hidden" value="us" name="cc"/>
							<input type="submit" id="ibm-search" class="ibm-btn-search" value="{% i18n %}Submit{% endi18n%}"/>
						</p>
					</form>

				</div>
			</div>
		</div>
		<!-- MASTHEAD_END -->

		<!-- CONTENT_BEGIN -->
		<div id="ibm-content-wrapper">
			<div class="ibm-sitenav-menu-container">
				<div class="ibm-sitenav-menu-name"><a href="/">{% i18n %}Business Self-assessment Tool{% endi18n%}</a></div>
			</div>

			<main id="maim" role="main" aria-labelledby="ibm-pagetitle-h1">
				<div id="ibm-pcon">
					<div id="ibm-content">
						<div id="ibm-content-body ibm-padding-top-0">
							<div id="ibm-content-main">
								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#305B81">
									<div class="ibm-columns">
										<div class="ibm-col-6-4 ibm-center-block ibm-center ibm-textcolor-white-core">
											<img class="ibm-resize" src="/results/images/{{lang}}/result_graphicLEARN.gif">
											<h1 class="ibm-h1 ibm-padding-top-1">{% i18n %}You’ve taken the first step!{% endi18n%}</h1>
											<h4 class="ibm-h4">{% i18n %}Congratulations! You have passed the assessment stage! You are ready to deepen your knowledge about how cognitive business operations can enhance process and decision management.{% endi18n%}</h4>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										{% if mythbuster %}
											<div class="ibm-col-6-3">
												<!-- This html does not allow for tracking<div
													data-widget="videoplayer"
													data-overlayplayersize="large"
													data-showvideoduration="false"
													data-videodisplay="overlayandtrigger"
													data-videoid="2B5vH99nf1s"
													data-videotype="youtube"
													data-overlayplayersize="large"
													class="ibm-padding-right-1"
												>
													<a href="https://www.youtube.com/watch?v=2B5vH99nf1s" class="assetTracking" atName="Jim Casey addresses common misconceptions about CBO">{% i18n %}Watch the video{% endi18n%}</a>
												</div>-->

												<a
													data-widget="videoplayer"
													data-overlayplayersize="large"
													data-showvideoduration="false"
													data-videodisplay="overlayandtrigger"
													data-videoid="2B5vH99nf1s"
													data-videotype="youtube"
													data-overlayplayersize="large"
													data-showvideotitle="false"
													class="assetTracking ibm-padding-right-1"
													href="https://www.youtube.com/watch?v=2B5vH99nf1s"
													atName="Jim Casey addresses common misconceptions about CBO">{% i18n %}Watch the video{% endi18n%}</a>
												<div class="ibm-video-title ibm-bold"><p class="ibm-padding-bottom-0">Debunking the Top Three Myths of Cognitive Business Operations</p></div>
											</div>
											<div class="ibm-col-6-3">
												<div class="ibm-padding-left-1">
													<h2 class="ibm-h2">{% i18n %}Hear the Truth{% endi18n%}</h2>
													<p class="ibm-light">{% i18n %}Are you skeptical about the benefits of Cognitive Business Operations? Perhaps it sounds like something that would be too expensive for your company, or too risky, or simply just not something a company could endeavor upon just yet. At this stage in your journey, it’s normal to wonder about these things - revolutionary technology has a tendency to invoke these sentiments.{% endi18n%}</p>
													<p class="ibm-light">{% i18n %}Well, there’s good news: It’s real, attainable, and ready to implement right now.{% endi18n%}</p>
													<p class="ibm-light">{% i18n %}Jim Casey, Senior Product Manager, is here to let you in on the truth about Cognitive Business Operations. After watching this video, you’ll be one step closer to processes and decisions that sense, respond, and learn.{% endi18n%}</p>
												</div>
											</div>
										{% else %}
											<div class="ibm-col-6-3">
												<!--This html does NOT work with tracking<div
														data-widget="videoplayer"
														data-showvideoduration="false"
														data-videodisplay="overlayandtrigger"
														data-videoid="NQwf0NY1TGM"
														data-videotype="youtube"
														data-overlayplayersize="large"
														class="ibm-padding-right-1"
													>
													<a href="https://www.youtube.com/watch?v=NQwf0NY1TGM" class="assetTracking" atName="Evolving BPM in the Face of Cognitive Computing Video">{% i18n %}Watch the video{% endi18n%}</a>
												</div>-->

													<a
															data-widget="videoplayer"
															data-showvideoduration="false"
															data-videodisplay="overlayandtrigger"
															data-videoid="NQwf0NY1TGM"
															data-videotype="youtube"
															data-overlayplayersize="large"
															data-showvideotitle="false"
															class="assetTracking ibm-padding-right-1"
															href="https://www.youtube.com/watch?v=NQwf0NY1TGM"
														  atName="Evolving BPM in the Face of Cognitive Computing Video">{% i18n %}Watch the video{% endi18n%}</a>

												<div class="ibm-video-title ibm-bold"><p class="ibm-padding-bottom-0">Evolving BPM in the face of cognitive computing</p></div>
											</div>
											<div class="ibm-col-6-3">
												<div class="ibm-padding-left-1">
													<h2 class="ibm-h2">{% i18n %}Hear from an expert{% endi18n%}</h2>
													<p>{% i18n %}Start your journey with an inside look at how cognitive technology is transforming the field of business process management (BPM.){% endi18n%}</p>
													<p>{% i18n %}Understanding the importance of BPM as a foundation of Cognitive Business Operations is a big step in your progress toward automating your processes, augmenting your knowledge workers and discovering new insights.{% endi18n%}</p>
												</div>
											</div>
										{% endif %}
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#5294E9">
									<div class="ibm-columns ibm-vertical-center">
										<div class="ibm-col-6-2">
											<p class="ibm-textcolor-white-core">{% i18n %}Want to head back to explore the foundations for Cognitive Business Operations?{% endi18n%}</p>
										</div>
										<div class="ibm-col-6-4">
											<p class="ibm-btn-row ibm-center">
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/process-modeling-in-the-cloud/us/en-us{% endi18n %}">{% i18n %}Explore process modeling{% endi18n%}</a>
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/operational-decision-management/us/en-us{% endi18n %}">{% i18n %}Explore business rules{% endi18n%}</a>
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/process-management-software-in-the-cloud/us/en-us{% endi18n %}">{% i18n %}Explore process management{% endi18n%}</a>
											</p>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										<div class="ibm-col-1-1">
											<p>{% i18n %}Related Resources{% endi18n%}</p>
										</div>
										<div class="ibm-columns ibm-cards" data-widget="setsameheight" data-always="true" data-items=".ibm-card">
											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/learn/images/resources1.png" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_red.png');"
														>
															{% i18n %}Blog{% endi18n%}
														</div>
														<p>{% i18n %}See the criteria used to infuse business ops with cognitive computing{% endi18n%}</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a atName="Criteria used to infuse business ops with cognitive computing"
																 class="assetTracking ibm-forward-link ibm-textcolor-red-50 ibm-bold"
															   target="blank"
															   href="{% i18n %}http://www.ibm.com/middleware/us-en/solutions/intelligent-business/business-process-improvement/{% endi18n %}">{% i18n %}Learn more{% endi18n%}</a>
														</p>
													</div>
												</div>
											</div>
											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/images/CBO_SME_Card.jpg" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_green.png');"
														>
															{% i18n %}Watch{% endi18n%}
														</div>
														<p>{% i18n %}Ushering your Business into the Cognitive Era Video{% endi18n%}</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a atName="Ushering your Business into the Cognitive Era Video"
																 data-widget="videoplayer"
															   data-videodisplay="overlay"
															   data-videoid="Z1RJ6GyWrXY"
															   data-videotype="youtube"
															   data-showvideoduration="false"
															   class="assetTracking ibm-forward-link ibm-textcolor-green-50 ibm-bold"
															   href="https://www.youtube.com/watch?v=Z1RJ6GyWrXY">{% i18n %}Watch the video{% endi18n%}</a>
														</p>
													</div>
												</div>
											</div>
											{% if resource3 == "bpm" %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/images/CBO_ProcessManagementBook_Card.jpg" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																{% i18n %}Learn more{% endi18n%}
															</div>
															<p>{% i18n %}See how IBM Business Process Manager can help your organization become more agile and efficient{% endi18n%}</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a atName="BPM Dummies book"
																	 class="assetTracking ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="{% i18n %}http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14002usen/WSM14002USEN.PDF{% endi18n %}">
																	{% i18n %}Download the ebook{% endi18n%}
																</a>
															</p>
														</div>
													</div>
												</div>
											{% elseif resource3 == "odm" %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/images/CBO_OperationalDecisionBook_Card.jpg" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																{% i18n %}Learn more{% endi18n%}
															</div>
															<p>{% i18n %}See how IBM Operational Decision Manager can help your organization make the right decisions at the right time{% endi18n%}</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a atName="ODM Dummies book"
																	 class="assetTracking ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14019usen/WSM14019USEN.PDF">
																	{% i18n %}Download the ebook{% endi18n%}
																</a>
															</p>
														</div>
													</div>
												</div>
											{% else %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/build/images/resources3.png" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																{% i18n %}Website{% endi18n%}
															</div>
															<p>{% i18n %}Continue exploring cognitive business operations{% endi18n%}</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a atName="Continue exploring cognitive business operations"
																	 class="assetTracking ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="{% i18n %}http://www.ibm.com/middleware/us-en/solutions/intelligent-business/business-process-improvement/{% endi18n%}">{% i18n %}Visit the website{% endi18n%}</a>
															</p>
														</div>
													</div>
												</div>
											{% endif %}
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- CONTENT_END -->
	</div>

	<!-- IBM_FOOTER_BEGIN -->
	<div id="ibm-footer-module"></div>
	<footer role="contentinfo" aria-label="IBM"><div id="ibm-footer"></div></footer>
	<!-- IBM_FOOTER_END -->

	<script>
		window.Site = {
			lang: '{{lang}}'
		};
	</script>

	<script src="/js/service.js"></script>
	<script>
		$( document ).ready(function()
		{
			IBMCore.common.util.config.set({
				masthead: {
					type: "alternate"
				}
			});

			IBMCore.common.util.config.set({
				footer: {
					type: "default"
				}
			});
		});
	</script>

</body>

</html>
