<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<link rel="icon" href="http://www.ibm.com/favicon.ico">
	<link rel="canonical" href="http://www.ibm.com/______">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="dcterms.date" content="YYYY-MM-DD">
	<meta name="dcterms.rights" content="© Copyright IBM Corp. 2016">

	<meta name="geo.country" content="US">
	<meta name="keywords" content="______">
	<meta name="robots" content="index,follow">

	<title>{% i18n %}IBM Audits{% endi18n%}</title>

	<script type="text/javascript">
		digitalData = {
			page: {
				pageInfo: {
					language: "{{lang}}",
					version: "v18",
					ibm: {
						siteID: 'CBO-ASAT-EN'
					}
				},
				category: {
					primaryCategory: 'TEST'
				}
			}
		};
	</script>

	<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
	<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
	<link href="/results/css/style_v18.css" rel="stylesheet">
	<script src="//1.www.s81c.com/common/v18/js/www.js"></script>
	<script type="text/javascript">
		var $ = jQuery;
	</script>
</head>

<body id="ibm-com">

	<div id="ibm-top" class="ibm-landing-page">
		<!-- MASTHEAD_BEGIN -->
		<div id="ibm-masthead" role="banner" aria-label="IBM">
			<div id="ibm-universal-nav">
				<div id="ibm-home">
					<a href="http://www.ibm.com/us/en/">IBM®</a>
				</div>
				<ul id="ibm-menu-links" role="toolbar" aria-label="{% i18n %}Site map{% endi18n%}">
					<li>
						<a href="http://www.ibm.com/sitemap/us/en/">{% i18n %}Site map{% endi18n%}</a>
					</li>
				</ul>
				<div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
					<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
						<p>
							<input type="text" maxlength="100" value="" placeholder="{% i18n %}Search{% endi18n%}" name="q" id="q" aria-label="{% i18n %}Search{% endi18n%}"/>
							<input type="hidden" value="18" name="v"/>
							<input type="hidden" value="utf" name="en"/>
							<input type="hidden" value="{{lang}}" name="lang"/>
							<input type="hidden" value="us" name="cc"/>
							<input type="submit" id="ibm-search" class="ibm-btn-search" value="{% i18n %}Submit{% endi18n%}"/>
						</p>
					</form>
				</div>
			</div>
		</div>
		<!-- MASTHEAD_END -->

		<!-- CONTENT_BEGIN -->
		<div id="ibm-content-wrapper">
			<div class="ibm-sitenav-menu-container">
				<div class="ibm-sitenav-menu-name"><a href="/">{% i18n %}Business Self-assessment Tool{% endi18n%}</a></div>
			</div>
			<main id="maim" role="main" aria-labelledby="ibm-pagetitle-h1">
				<div id="ibm-pcon">
					<div id="ibm-content">
						<div id="ibm-content-body ibm-padding-top-0">
							<div id="ibm-content-main">
								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#305B81">
									<div class="ibm-columns">
										<div class="ibm-col-6-4 ibm-center-block ibm-center ibm-textcolor-white-core">
											<img class="ibm-resize" src="/results/images/{{lang}}/result_graphicROLLOUT.gif">
											<h1 class="ibm-h1 ibm-padding-top-1">{% i18n %}You’re a cognitive rock star!{% endi18n%}</h1>
											<h4 class="ibm-h4">{% i18n %}Congratulations! You are among the select few who have unlocked the power of cognitive business operations.{% endi18n%}</h4>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										<div class="ibm-col-1-1">
											<p>{% i18n %}Share and learn{% endi18n%}</p>
										</div>
										<div class="ibm-col-6-3">
											<div class="ibm-padding-right-1">
												<img class="ibm-resize " src="/results/rollout/images/shape.png" />
												<p>{% i18n %}Engage with others in the BPM Community at bpm/DEV.{% endi18n%}</p>
												<p class="ibm-button-link">
													<a target="_blank"
													   href="https://developer.ibm.com/bpm/"
													   class="assetTracking ibm-btn-pri ibm-btn-blue-50"
														 atName="Engage with others in the BPM Community at bpm/DEV">{% i18n %}Join the community{% endi18n%}</a>
												</p>
											</div>
										</div>
										<div class="ibm-col-6-3">
											<div class="ibm-padding-left-1">
												<p class="ibm-light">{% i18n %}Engage with other developers in the BPM community and access how-to videos, product demonstrations, and partner assets.{% endi18n%}</p>
												<p class="ibm-light">{% i18n %}In this single location, knowledge and experiences are shared to help all members learn, use, and connect. From foundational solutions to advanced cognitive applications, you’ll find helpful resources to explore. Now that you are implementing cognitive in your business, share your experiences as a cognitive rock star.{% endi18n%}</p>
											</div>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#5294E9">
									<div class="ibm-columns ibm-vertical-center">
										<div class="ibm-col-6-2">
											<p class="ibm-textcolor-white-core">{% i18n %}Want to head back to explore the foundations for Cognitive Business Operations?{% endi18n%}</p>
										</div>
										<div class="ibm-col-6-4">
											<p class="ibm-btn-row ibm-center">
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/process-modeling-in-the-cloud/us/en-us{% endi18n %}">{% i18n %}Explore process modeling{% endi18n%}</a>
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/operational-decision-management/us/en-us{% endi18n %}">{% i18n %}Explore business rules{% endi18n%}</a>
												<a  class=" ibm-btn-pri ibm-btn-teal-50" href="{% i18n %}https://www.ibm.com/marketplace/cloud/process-management-software-in-the-cloud/us/en-us{% endi18n %}">{% i18n %}Explore process management{% endi18n%}</a>
											</p>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										<div class="ibm-col-1-1">
											<p>{% i18n %}Related Resources{% endi18n%}</p>
										</div>
										<div class="ibm-columns ibm-cards" data-widget="setsameheight" data-always="true" data-items="> div > .ibm-card">
											{% if resource1 == "success" %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/build/images/resources1.png" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_red.png');"
															>
																{% i18n %}Share{% endi18n%}
															</div>
															<p>{% i18n %}Share your cognitive business operations success with the world.{% endi18n%}</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a atName="Share your CBO success with the world"
																	 class="assetTracking ibm-forward-link ibm-textcolor-red-50 ibm-bold"
																   target="blank"
																   href="http://www.ibm.com/common/ssi/cgi-bin/ssialias?subtype=BR&infotype=PM&htmlfid=MSB03004USEN&attachment=MSB03004USEN.PDF">{% i18n %}Learn more{% endi18n%}</a>
															</p>
														</div>
													</div>
												</div>
											{% else %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/rollout/images/resources1.png" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_red.png');"
															>
																{% i18n %}Demo{% endi18n%}
															</div>
															<p>{% i18n %}See how BPM + IBM Watson can help with high-value recruitment processes.{% endi18n%}</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a data-widget="videoplayer"
																   data-videodisplay="overlay"
																   data-videoid="cJC8cxm_TCc"
																   data-videotype="youtube"
																   data-showvideoduration="false"
																	 atName="BPM + IBM Watson help with high-value recruitment processes"
																   class="assetTracking ibm-forward-link ibm-textcolor-red-50 ibm-bold"
																   href="https://www.youtube.com/watch?v=cJC8cxm_TCc">{% i18n %}Learn More{% endi18n%}</a>
															</p>
														</div>
													</div>
												</div>
											{% endif %}


											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/rollout/images/resources2.png" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_green.png');"
														>
															{% i18n %}Community{% endi18n%}
														</div>
														<p>{% i18n %}Join the IBM Operational Decision Manager Community.{% endi18n%}</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a atName="IBM Operational Decision Manager Community"
																 class="assetTracking ibm-forward-link ibm-textcolor-green-50 ibm-bold"
															   target="blank"
															   href="https://developer.ibm.com/odm/">{% i18n %}Join Us{% endi18n%}</a>
														</p>
													</div>
												</div>
											</div>
											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/rollout/images/resources3.png" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_purple.png');"
														>
															{% i18n %}Community{% endi18n%}
														</div>
														<p>{% i18n %}Join the IBM Middleware User Community.{% endi18n%}</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a atName="IBM Middleware User Community"
																 class="assetTracking ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
															   target="blank"
															   href="https://www.imwuc.org/">{% i18n %}Join Us{% endi18n%}</a>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- CONTENT_END -->
	</div>

<!-- IBM_FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<footer role="contentinfo" aria-label="IBM"><div id="ibm-footer"></div></footer>
<!-- IBM_FOOTER_END -->

<script>
	window.Site = {
		lang: '{{lang}}'
	};
</script>

<script src="/js/service.js"></script>
<script>
	$( document ).ready(function()
	{
		IBMCore.common.util.config.set({
			masthead: {
				type: "alternate"
			}
		});

		IBMCore.common.util.config.set({
			footer: {
				type: "default"
			}
		});
	});
</script>

</body>

</html>
