<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.ibm.com/favicon.ico">
    <link rel="canonical" href="http://www.ibm.com/______">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="dcterms.date" content="YYYY-MM-DD">
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2016">
    <meta name="geo.country" content="US">
    <meta name="keywords" content="______">
    <meta name="robots" content="index,follow">
    <title>IBM Audits</title>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    digitalData = {
        page: {
            pageInfo: {
                language: "en-US",
                version: "v18",
                ibm: {
                    siteID: 'CBO-ASAT-EN'
                }
            },
            category: {
                primaryCategory: 'TEST'
            }
        }
    };
    </script>
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
    <link href="/results/css/style_v18.css" rel="stylesheet">
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script type="text/javascript">
    var $ = jQuery;
    </script>
</head>

<body id="ibm-com">
    <div id="ibm-top" class="ibm-landing-page">
        <!-- MASTHEAD_BEGIN -->
        <div id="ibm-masthead" role="banner" aria-label="IBM">
            <div id="ibm-universal-nav">
                <div id="ibm-home">
                    <a href="http://www.ibm.com/us/en/">IBM®</a>
                </div>
                <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
                    <li>
                        <a href="http://www.ibm.com/sitemap/us/en/">Site map</a>
                    </li>
                </ul>
                <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
                    <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
                        <p>
                            <input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search" />
                            <input type="hidden" value="18" name="v" />
                            <input type="hidden" value="utf" name="en" />
                            <input type="hidden" value="en" name="lang" />
                            <input type="hidden" value="us" name="cc" />
                            <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- MASTHEAD_END -->
        <!-- CONTENT_BEGIN -->
        <div id="ibm-content-wrapper">
            <div class="ibm-sitenav-menu-container">
                <div class="ibm-sitenav-menu-name"><a href="/">코그너티브 비즈니스 자가진단 도구</a></div>
            </div>
            <main id="maim" role="main" aria-labelledby="ibm-pagetitle-h1">
                <div id="ibm-pcon">
                    <div id="ibm-content">
                        <div id="ibm-content-body ibm-padding-top-0">
                            <div id="ibm-content-main">
                                <div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#305B81">
                                    <div class="ibm-columns">
                                        <div class="ibm-col-6-4 ibm-center-block ibm-center ibm-textcolor-white-core">
                                            <img class="ibm-resize" src="/results/images/V2_BUILD.gif">
                                            <h1 class="ibm-h1 ibm-padding-top-1">귀하는 잘 하고 있습니다!</h1>
                                            <h4 class="ibm-h4">축하합니다. 귀하는 코그너티브 기술이 귀사의 비즈니스에 가져올 수 있는 가치를 잘 이해하고 있습니다. 귀하는 올바른 솔루션을 설계할 준비가 되었습니다.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
                                    <div class="ibm-columns">
                                        <div class="ibm-col-6-3">
                                            <div data-widget="videoplayer" data-overlayplayersize="large" data-showvideoduration="false" data-videodisplay="overlayandtrigger" data-videoid="lkK-f50zecc" data-videotype="youtube" data-overlayplayersize="large" class="ibm-padding-right-1">
                                                <a href="https://www.youtube.com/watch?v=lkK-f50zecc">데모 보기</a>
                                            </div>
                                        </div>
                                        <div class="ibm-col-6-3">
                                            <div class="ibm-padding-left-1">
                                                <h2 class="ibm-h2">데모 보기</h2>
                                                <p class="ibm-light">코그너티브 비즈니스 오퍼레이션은 고객 경험 향상, 작업 절차에 소요되는 시간 최소화, 업무 효율성 향상 등의 목표를 달성할 수 있도록 도와줍니다. 이 데모는 실제 운영하고 있는 코그너티브 비즈니스 오퍼레이션의 한 사례입니다. BPM 위에서 구동되는 IBM Watson 데모를 시청하면, 귀하는 감지, 응답 및 학습하는 프로세스와 의사결정 구축에 한 걸음 더 가까이 다가가게 될 것입니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#5294E9">
                                    <div class="ibm-columns ibm-vertical-center">
                                        <div class="ibm-col-6-2">
                                            <p class="ibm-textcolor-white-core">코그너티브 비즈니스 오퍼레이션을 위한 기반 솔루션을 자세히 보시겠습니까?</p>
                                        </div>
                                        <div class="ibm-col-6-4">
                                            <p class="ibm-btn-row ibm-center">
                                                <a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/process-modeling-in-the-cloud/us/en-us">비즈니스 프로세스 모델링</a>
                                                <a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/operational-decision-management/us/en-us">비즈니스 룰</a>
                                                <a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/process-management-software-in-the-cloud/us/en-us">비즈니스 프로세스 관리</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
                                    <div class="ibm-columns">
                                        <div class="ibm-col-1-1">
                                            <p>관련 리소스</p>
                                        </div>
                                        <div class="ibm-columns ibm-cards" data-widget="setsameheight" data-always="true" data-items=".ibm-card">
                                            <div class="ibm-col-6-2">
                                                <div class="ibm-card">
                                                    <div class="ibm-card__image">
                                                        <img class="ibm-resize " src="/results/build/images/resources1.png" />
                                                    </div>
                                                    <div class="ibm-card__content">
                                                        <div class="resources-overlay" style="background-image: url('/results/images/shape_red.png');">
                                                            데모
                                                        </div>
                                                        <p>BPM과 IBM Watson이 결합하면, 어떻게 기업의 채용 과정에서 고부가가치를 제공할 수 있는지 확인하십시오.</p>
                                                    </div>
                                                    <div class="ibm-card__bottom">
                                                        <p class="ibm-ind-link">
                                                            <a data-widget="videoplayer" data-videodisplay="overlay" data-videoid="cJC8cxm_TCc" data-videotype="youtube" data-showvideoduration="false" class="ibm-forward-link ibm-textcolor-red-50 ibm-bold" href="https://www.youtube.com/watch?v=cJC8cxm_TCc">자세히 보기</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ibm-col-6-2">
                                                <div class="ibm-card">
                                                    <div class="ibm-card__image">
                                                        <img class="ibm-resize " src="/results/build/images/resources2.png" />
                                                    </div>
                                                    <div class="ibm-card__content">
                                                        <div class="resources-overlay" style="background-image: url('/results/images/shape_green.png');">
                                                            커뮤니티
                                                        </div>
                                                        <p>BPM 개발자 커뮤니티에서 같은 고민을 가진 사람들과 교류하세요.</p>
                                                    </div>
                                                    <div class="ibm-card__bottom">
                                                        <p class="ibm-ind-link">
                                                            <a class="ibm-forward-link ibm-textcolor-green-50 ibm-bold" target="blank" href="https://developer.ibm.com/bpm/">가입하기</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if resource3 == "bpm" %}
                                            <div class="ibm-col-6-2">
                                                <div class="ibm-card">
                                                    <div class="ibm-card__image">
                                                        <img class="ibm-resize " src="/results/images/CBO_ProcessManagementBook_Card.jpg" />
                                                    </div>
                                                    <div class="ibm-card__content">
                                                        <div class="resources-overlay" style="background-image: url('/results/images/shape_purple.png');">자세히 보기
                                                        </div>
                                                        <p>IBM Business Process Manager가 귀사를 어떻게 더욱 민첩하고 효율적으로 만들 수 있는지 확인해 보세요</p>
                                                    </div>
                                                    <div class="ibm-card__bottom">
                                                        <p class="ibm-ind-link">
                                                            <a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold" target="blank" href="http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14002usen/WSM14002USEN.PDF">
																	전자책 다운로드
																</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% elseif resource3 == "odm" %}
                                            <div class="ibm-col-6-2">
                                                <div class="ibm-card">
                                                    <div class="ibm-card__image">
                                                        <img class="ibm-resize " src="/results/images/CBO_OperationalDecisionBook_Card.jpg" />
                                                    </div>
                                                    <div class="ibm-card__content">
                                                        <div class="resources-overlay" style="background-image: url('/results/images/shape_purple.png');">
                                                            자세히 보기
                                                        </div>
                                                        <p>IBM Operational Decision Manager가 어떻게 귀사의 적절한 의사결정을 지원하는지 확인해 보세요</p>
                                                    </div>
                                                    <div class="ibm-card__bottom">
                                                        <p class="ibm-ind-link">
                                                            <a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold" target="blank" href="http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14019usen/WSM14019USEN.PDF">
																	전자책 다운로드
																</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="ibm-col-6-2">
                                                <div class="ibm-card">
                                                    <div class="ibm-card__image">
                                                        <img class="ibm-resize " src="/results/build/images/resources3.png" />
                                                    </div>
                                                    <div class="ibm-card__content">
                                                        <div class="resources-overlay" style="background-image: url('/results/images/shape_purple.png');">
                                                            웹사이트
                                                        </div>
                                                        <p>코그너티브 비즈니스 오퍼레이션 웹페이지</p>
                                                    </div>
                                                    <div class="ibm-card__bottom">
                                                        <p class="ibm-ind-link">
                                                            <a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold" target="blank" href="http://www.ibm.com/middleware/us-en/solutions/intelligent-business/business-process-improvement/">웹사이트를 방문하세요.</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- CONTENT_END -->
    </div>
    <!-- IBM_FOOTER_BEGIN -->
    <div id="ibm-footer-module"></div>
    <footer role="contentinfo" aria-label="IBM">
        <div id="ibm-footer"></div>
    </footer>
    <!-- IBM_FOOTER_END -->
    <script>
    $(document).ready(function() {
        IBMCore.common.util.config.set({
            masthead: {
                type: "alternate"
            }
        });
        IBMCore.common.util.config.set({
            footer: {
                type: "default"
            }
        });
    });
    </script>
</body>

</html>