<!DOCTYPE html>
<html lang="en-US"  class="ibm-background-neutral-white-30">
<head>

	<meta charset="utf-8">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="canonical" href="http://www.ibm.com/______">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="dcterms.date" content="YYYY-MM-DD">
	<meta name="dcterms.rights" content="© Copyright IBM Corp. 2016">

	<meta name="geo.country" content="US">
	<meta name="keywords" content="______">
	<meta name="robots" content="index,follow">

	<title>귀사는 얼마나 코그너티브 시대에 대비하고 있습니까?</title>

	<script type="text/javascript">
		digitalData = {
			page: {
				pageInfo: {
					language: "en-US",
					version: "v18",
					ibm: {
						siteID: 'CBO-ASAT-EN'
					}
				},
				category: {
					primaryCategory: 'TEST'
				}
			}
		};
	</script>

	<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
	<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
	<link href="css/main_v18.css" rel="stylesheet">
	<script src="//1.www.s81c.com/common/v18/js/www.js"></script>
	<script type="text/javascript">
		var $ = jQuery;
	</script>

</head>

<body id="ibm-com" class="ibm-background-neutral-white-30">

<div id="ibm-top" class="ibm-landing-page ibm-background-neutral-white-30">
	<!-- MASTHEAD_BEGIN -->

	<div id="ibm-masthead" role="banner" aria-label="IBM">
		<div id="ibm-universal-nav">
			<div id="ibm-home">
				<a href="http://www.ibm.com/us/en/">IBM®</a>
			</div>
			<ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
				<li>
					<a href="http://www.ibm.com/sitemap/us/en/">Site map</a>
				</li>
			</ul>
			<div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
				<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
					<p>
						<input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search"/>
						<input type="hidden" value="18" name="v"/>
						<input type="hidden" value="utf" name="en"/>
						<input type="hidden" value="en" name="lang"/>
						<input type="hidden" value="us" name="cc"/>
						<input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
					</p>
				</form>
			</div>
		</div>
	</div>
	<!-- MASTHEAD_END -->

	<!-- CONTENT_BEGIN -->
	<div id="ibm-content-wrapper">
		<div class="ibm-sitenav-menu-container">
			<div class="ibm-sitenav-menu-name"><a href="/">코그너티브 비즈니스 자가진단 도구</a></div>
		</div>

		<div class="steps" style="display:none;"></div>

		<main id="maim" role="main" aria-labelledby="ibm-pagetitle-h1">
			<div id="ibm-pcon">
				<div id="ibm-content">
					<div id="ibm-content-body ibm-padding-top-0">
						<div id="ibm-content-main">

							<div id="contentView" class="ibm-background-neutral-white-30">


								<div id="intro" class="ibm-background-white-core">
									<div class="content ibm-band ibm-padding-top-2">
										<div class="ibm-columns">
											<div class="ibm-col-5-2 intro_summary">
												<h2 class="ibm-h2 ibm-light">귀사는 얼마나 코그너티브 시대에 대비하고 있습니까? </h2>
												<p class="ibm-light ibm-padding-bottom-2">3분만 투자하여, 코그너티브 시대로 변화하기 위한 귀사의 준비 상황을 확인하고, 앞으로의 계획을 수립해 보십시오.</p>
												<p><button id="start" type="button" class="ibm-btn-pri ibm-btn-blue-50">시작하기</button></p>
											</div>
										</div>
									</div>

									<div class="intro-content ibm-band">
										<div class="ibm-columns ibm-vertical-center intro-content-columns">
											<div class="ibm-col-6-3 ibm-vertical-center intro-content-left">
												<h1 class="ibm-h1 ibm-light">코그너티브 비즈니스 자가진단 도구</h1>
											</div>
											<div class="ibm-col-6-3">
												<h2 class="ibm-h2 ibm-light">코그너티브 비즈니스 오퍼레이션은 귀사에 다음과 같은 역량을 제공합니다</h2>
												<ul>
													<li class="ibm-light">
														시장 대응력 향상 및 혁신
													</li>
													<li class="ibm-light">
														분석되지 않은 다크 데이터로부터 통찰력 확보
													</li>
													<li class="ibm-light">
														비교할 수 없는 전문지식으로 팀 역량 강화
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div id="question_0" class="slide question ibm-center"></div>
								
								<div class="question_item_hide">
									<div class="question_item" id="question_item_0">
										<div class="guage ibm-padding-bottom-1">
											<h4 class="ibm-h4 ibm-light"></h4>
										</div>
										<div class="title ibm-padding-bottom-30">
											<h2 class="ibm-h2 ibm-light"></h2>
										</div>
										<div class="content">
											<div class="answers"></div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<!-- CONTENT_END -->
</div>

<footer id="footer" class="footer ibm-band">
	<div class="ibm-columns">
		<div class="ibm-col-6-3 ibm-right">
			<div id="back_button" class="ibm-btn-sec ibm-center">
				<span id="back_button_icon" class="ibm-back-link"></span>
				<span id="back_button_text">뒤로</span>
			</div>
		</div>
		<div class="ibm-col-6-3">
			<div id="next_button" class="ibm-btn-pri ibm-center disabled">
				<span id="next_button_text">다음 질문</span>
				<span id="next_button_icon" class="ibm-forward-link"></span>
			</div>
		</div>
	</div>
</footer>

<!-- IBM_FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<footer role="contentinfo" aria-label="IBM"><div id="ibm-footer"></div></footer>
<!-- IBM_FOOTER_END -->

<div id="mobile"></div>

<div id="free_consultation_button" class="button results-button"></div>

<script>
	window.Site = {
		lang: '{{lang}}'
	};
</script>

<script type="text/javascript" src="js/demo/vendor/TweenMax.min.js"></script>
<script type="text/javascript" src="js/demo/site/eventDispatcher.js"></script>
<script type="text/javascript" src="js/demo/site/data/model.js"></script>
<script type="text/javascript" src="js/demo/site/views/contentView.js"></script>
<script type="text/javascript" src="js/demo/site/site.js"></script>
<script type="text/javascript" src="js/demo/index.js"></script>
<script type="text/javascript" src="js/service.js"></script>

<script type="text/javascript">
	$( document ).ready(function()
	{
		app.initialize();
		$(".button .help").hover(function () {
			$(this).parent("div").find(".help-text").toggleClass("active");
		});

		var speed = 5000;

		var run = setInterval(rotate, speed);
		var slides = $('.slides_slide');
		var container = $('#slides ul');
		var elm = container.find(':first-child').prop("tagName");
		var item_width = $(".slides").width();
		var previous = 'prev'; //id of previous button
		var next = 'next'; //id of next button
		slides.width(item_width); //set the slides to the correct pixel width
		container.parent().width(item_width);
		container.width(slides.length * item_width); //set the slides container to the correct total width
		container.find(elm + ':first').before(container.find(elm + ':last'));
		resetSlides();


		//if user clicked on prev button
		$('#buttons a').click(function (e) {
			//slide the item

			if (container.is(':animated')) {
				return false;
			}
			if (e.target.id == previous) {
				container.stop().animate({
					'left': 0
				}, 1500, function () {
					container.find(elm + ':first').before(container.find(elm + ':last'));
					resetSlides();
				});
			}

			if (e.target.id == next) {
				container.stop().animate({
					'left': item_width * -2
				}, 1500, function () {
					container.find(elm + ':last').after(container.find(elm + ':first'));
					resetSlides();
				});
			}

			//cancel the link behavior
			return false;

		});

		//if mouse hover, pause the auto rotation, otherwise rotate it
		container.parent().mouseenter(function () {
			clearInterval(run);
		}).mouseleave(function () {
			run = setInterval(rotate, speed);
		});


		function resetSlides() {
			//and adjust the container so current is in the frame
			container.css({
				'left': -1 * item_width
			});
		}

		IBMCore.common.util.config.set({
			masthead: {
				type: "alternate"
			}
		});

		IBMCore.common.util.config.set({
			footer: {
				type: "default"
			}
		});


	});
	function rotate() {
		$('#next').click();
	}

</script>

</body>

</html>










