<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<link rel="icon" href="http://www.ibm.com/favicon.ico">
	<link rel="canonical" href="http://www.ibm.com/______">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="dcterms.date" content="YYYY-MM-DD">
	<meta name="dcterms.rights" content="© Copyright IBM Corp. 2016">

	<meta name="geo.country" content="US">
	<meta name="keywords" content="______">
	<meta name="robots" content="index,follow">

	<title>IBM Audits</title>

	<script type="text/javascript">
		digitalData = {
			page: {
				pageInfo: {
					language: "en-US",
					version: "v18",
					ibm: {
						siteID: 'CBO-ASAT-EN'
					}
				},
				category: {
					primaryCategory: 'TEST'
				}
			}
		};
	</script>

	<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
	<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
	<link href="/results/css/style_v18.css" rel="stylesheet">
	<script src="//1.www.s81c.com/common/v18/js/www.js"></script>
	<script type="text/javascript">
		var $ = jQuery;
	</script>
</head>

<body id="ibm-com">

	<div id="ibm-top" class="ibm-landing-page">
		<!-- MASTHEAD_BEGIN -->
		<div id="ibm-masthead" role="banner" aria-label="IBM">
			<div id="ibm-universal-nav">
				<div id="ibm-home">
					<a href="http://www.ibm.com/us/en/">IBM®</a>
				</div>
				<ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
					<li>
						<a href="http://www.ibm.com/sitemap/us/en/">Site map</a>
					</li>
				</ul>
				<div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
					<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
						<p>
							<input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search"/>
							<input type="hidden" value="18" name="v"/>
							<input type="hidden" value="utf" name="en"/>
							<input type="hidden" value="en" name="lang"/>
							<input type="hidden" value="us" name="cc"/>
							<input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
						</p>
					</form>
				</div>
			</div>
		</div>
		<!-- MASTHEAD_END -->

		<!-- CONTENT_BEGIN -->
		<div id="ibm-content-wrapper">
			<div class="ibm-sitenav-menu-container">
				<div class="ibm-sitenav-menu-name"><a href="/">코그너티브 비즈니스 자가진단 도구</a></div>
			</div>
			<main id="maim" role="main" aria-labelledby="ibm-pagetitle-h1">
				<div id="ibm-pcon">
					<div id="ibm-content">
						<div id="ibm-content-body ibm-padding-top-0">
							<div id="ibm-content-main">

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#305B81">
									<div class="ibm-columns">
										<div class="ibm-col-6-4 ibm-center-block ibm-center ibm-textcolor-white-core">
											<img class="ibm-resize" src="/results/images/V2_LEARN.gif">
											<h1 class="ibm-h1 ibm-padding-top-1">귀하는 첫걸음을 내디뎠습니다!</h1>
											<h4 class="ibm-h4">축하합니다! 귀하는 자가진단 단계를 완료하였습니다! 귀하는 코그너티브 비즈니스 오퍼레이션이 어떻게 비즈니스 프로세스와 업무적 의사결정 관리를 개선할 수 있는지 확인하실 수 있습니다.</h4>
										</div>
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										{% if mythbuster %}
											<div class="ibm-col-6-3">
												<div
													data-widget="videoplayer"
													data-overlayplayersize="large"
													data-showvideoduration="false"
													data-videodisplay="overlayandtrigger"
													data-videoid="2B5vH99nf1s"
													data-videotype="youtube"
													data-overlayplayersize="large"
													class="ibm-padding-right-1"
												>
													<a href="https://www.youtube.com/watch?v=2B5vH99nf1s">비디오 보기</a>
												</div>
											</div>
											<div class="ibm-col-6-3">
												<div class="ibm-padding-left-1">
													<h2 class="ibm-h2">진실을 알려드립니다</h2>
													<p class="ibm-light">코그너티브 비즈니스 오퍼레이션이 제공할 수 있는 혜택에 대해 의심하고 계십니까? 너무 비싸거나 너무 위험하다고 보십니까? 아직 귀사에서 적용할 수 없는 영역이라고 생각하십니까? 이런 의심을 갖는 것은 당연합니다. 그러나 혁신적인 기술들은 언제나 이런 질문들과 함께 해왔습니다.</p>
													<p class="ibm-light">좋은 소식이 바로 여기 있습니다. 실제적이고, 구현할 수 있고, 바로 실행할 준비가 되어 있다는 점입니다.</p>
													<p class="ibm-light">IBM의 제품 관리 담당 임원(Senior Product Manager)인 Jim Casey가 여러분에게 코그너티브 비즈니스 오퍼레이션에 대한 진실을 전달해 드릴 것입니다. 비디오를 보시고 나면 감지하고, 반응하고, 학습하는 다음 단계로 나아가게 될 것입니다.</p>
												</div>
											</div>
										{% else %}
											<div class="ibm-col-6-3">
												<div
														data-widget="videoplayer"
														data-overlayplayersize="large"
														data-showvideoduration="false"
														data-videodisplay="overlayandtrigger"
														data-videoid="NQwf0NY1TGM"
														data-videotype="youtube"
														data-overlayplayersize="large"
														class="ibm-padding-right-1"
													>
													<a href="https://www.youtube.com/watch?v=NQwf0NY1TGM">비디오 보기</a>
												</div>
											</div>
											<div class="ibm-col-6-3">
												<div class="ibm-padding-left-1">
													<h2 class="ibm-h2">전문가 의견</h2>
													<p>코그너티브 기술이 비즈니스 프로세스 관리 영역을 어떻게 변화시키고 있는지 확인하십시오.</p>
													<p>BPM을 코그너티브 비즈니스 오퍼레이션의 중요한 기반 기술로 인식하는 것은 귀사의 프로세스 자동화, 업무 전문가 역량 강화, 새로운 통찰력 확보를 위한 중요한 첫 걸음입니다.</p>
												</div>
											</div>
										{% endif %}
									</div>
								</div>

								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1" style="background-color:#5294E9">
									<div class="ibm-columns ibm-vertical-center">
										<div class="ibm-col-6-2">
											<p class="ibm-textcolor-white-core">코그너티브 비즈니스 오퍼레이션을 위한 기반 솔루션을 자세히 보시겠습니까?</p>
										</div>
										<div class="ibm-col-6-4">
											<p class="ibm-btn-row ibm-center">
												<a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/process-modeling-in-the-cloud/us/en-us">비즈니스 프로세스 모델링</a>
												<a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/operational-decision-management/us/en-us">비즈니스 룰</a>
												<a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/marketplace/cloud/process-management-software-in-the-cloud/us/en-us">비즈니스 프로세스 관리</a>
											</p>
										</div>
									</div>
								</div>
								<div class="ibm-band ibm-padding-top-2 ibm-padding-bottom-1 ibm-background-neutral-white-40">
									<div class="ibm-columns">
										<div class="ibm-col-1-1">
											<p>관련 리소스</p>
										</div>
										<div class="ibm-columns ibm-cards" data-widget="setsameheight" data-always="true" data-items=".ibm-card">
											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/learn/images/resources1.png" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_red.png');"
														>
															블로그
														</div>
														<p>코그너티브 비즈니스 오퍼레이션에 코그너티브 컴퓨팅을 접목시키는 기준</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a class="ibm-forward-link ibm-textcolor-red-50 ibm-bold"
															   target="blank"
															   href="http://www.ibm.com/middleware/us-en/solutions/intelligent-business/business-process-improvement/">자세히 보기</a>
														</p>
													</div>
												</div>
											</div>
											<div class="ibm-col-6-2">
												<div class="ibm-card">
													<div class="ibm-card__image">
														<img class="ibm-resize " src="/results/images/CBO_SME_Card.jpg" />
													</div>
													<div class="ibm-card__content">
														<div class="resources-overlay"
															 style="background-image: url('/results/images/shape_green.png');"
														>
															비디오
														</div>
														<p>코그너티브 시대로 귀사의 비즈니스 인도</p>
													</div>
													<div class="ibm-card__bottom">
														<p class="ibm-ind-link">
															<a data-widget="videoplayer"
															   data-videodisplay="overlay"
															   data-videoid="Z1RJ6GyWrXY"
															   data-videotype="youtube"
															   data-showvideoduration="false"
															   class="ibm-forward-link ibm-textcolor-green-50 ibm-bold"
															   href="https://www.youtube.com/watch?v=Z1RJ6GyWrXY">비디오 보기</a>
														</p>
													</div>
												</div>
											</div>
											{% if resource3 == "bpm" %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/images/CBO_ProcessManagementBook_Card.jpg" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																자세히 보기
															</div>
															<p>IBM Business Process Manager가 귀사를 어떻게 더욱 민첩하고 효율적으로 만들 수 있는지 확인해 보세요</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14002usen/WSM14002USEN.PDF">
																	전자책 다운로드
																</a>
															</p>
														</div>
													</div>
												</div>
											{% elseif resource3 == "odm" %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/images/CBO_OperationalDecisionBook_Card.jpg" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																자세히 보기
															</div>
															<p>IBM Operational Decision Manager가 어떻게 귀사의 적절한 의사결정을 지원하는지 확인해 보세요</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="http://public.dhe.ibm.com/common/ssi/ecm/ws/en/wsm14019usen/WSM14019USEN.PDF">
																	전자책 다운로드
																</a>
															</p>
														</div>
													</div>
												</div>
											{% else %}
												<div class="ibm-col-6-2">
													<div class="ibm-card">
														<div class="ibm-card__image">
															<img class="ibm-resize " src="/results/build/images/resources3.png" />
														</div>
														<div class="ibm-card__content">
															<div class="resources-overlay"
																 style="background-image: url('/results/images/shape_purple.png');"
															>
																웹사이트
															</div>
															<p>코그너티브 비즈니스 오퍼레이션 웹페이지</p>
														</div>
														<div class="ibm-card__bottom">
															<p class="ibm-ind-link">
																<a class="ibm-forward-link ibm-textcolor-purple-50 ibm-bold"
																   target="blank"
																   href="http://www.ibm.com/middleware/us-en/solutions/intelligent-business/business-process-improvement/">웹사이트를 방문하세요.</a>
															</p>
														</div>
													</div>
												</div>
											{% endif %}
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- CONTENT_END -->
	</div>

	<!-- IBM_FOOTER_BEGIN -->
	<div id="ibm-footer-module"></div>
	<footer role="contentinfo" aria-label="IBM"><div id="ibm-footer"></div></footer>
	<!-- IBM_FOOTER_END -->

	<script>
		$( document ).ready(function()
		{
			IBMCore.common.util.config.set({
				masthead: {
					type: "alternate"
				}
			});

			IBMCore.common.util.config.set({
				footer: {
					type: "default"
				}
			});
		});
	</script>

</body>

</html>

